<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密碼</title>
</head>
<body>
{#<form action="javascript:;" method="post" class="register_form">#}
{##}
{#    <p>用戶名&nbsp：<input type="text" name="name" class="name">&nbsp<span class="tips4"></span></p>#}
{##}
{#    <p>密&nbsp&nbsp碼:<input type="password" name="password" class="password">&nbsp<span class="tips2"></span></p>#}
{#    <p>確認密碼：<input type="password" name="password2" class="password2">&nbsp<span class="tips3"></span></p>#}
{##}
{##}
{#    <p>郵&nbsp&nbsp箱:<input type="text" name="email" class="email">&nbsp<span class="tips1"></span></p>#}
{##}
{#    <p><input type="button" value="立即註冊" class="theregister" >&nbsp<span class="tips5"></span></p>#}
{##}
{#    <p>&nbsp<span class="tips6"></span></p>#}
{##}
{##}
{#</form>#}

<form>



    <!----原密碼------>
   <p>原密碼:<input type="password" name="oldpassword" class="oldpassword" placeholder="原密碼">&nbsp<span class="tips1"></span></p>

    <!----密码------->
    <p>新密碼:<input type="password" name="password" class="password" placeholder="由 6~20位 字母，數字，標點，組成">&nbsp<span class="tips3"></span></p>

    <!----确定密码------>
    <p>確認新密碼：<input type="password" name="password2" class="password2" placeholder="确认密码">&nbsp<span class="tips4"></span></p>



    <!----提交------->
      <p><input type="button" value="提交修改" class="btn" >&nbsp<span class="tips6"></span></p>

    <p>&nbsp<span class="tips7"></span></p>
</form>


	<script src="{{ url_for('static',filename='js/jquery-1.12.3.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static',filename='js/forgetPassword.js') }}" type="text/javascript" charset="utf-8"></script>
</body>
</html>